<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>BankApp</title>
<meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/css/css/bootstrap.min.css}" />
</head>
<body>

<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

<div class="col-md-4" style="padding: 20px 0">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
			</form>
		</div>


	<table class="table table-striped">
			<tbody>
				<tr>
					<th>Tilinro</th>
					<th>Saldo</th>
					<th>Omistaja</th>
					
					<tr th:each="tili : ${tilit}">
				<td th:text="${tili.tilinro}"></td>
				<td th:text="${tili.saldo}"></td>
					<td th:text="${tili.omistaja}"></td>
				</tr>

			
			</tbody>
		</table>
	<a href="/maksu" class="btn btn-success">Uusi maksu</a>
<br>

<br>
	<table class="table table-striped">
	
			<tbody>
				<tr>
				
					<th>Tapahtuman id</th>
					<th>Siirto</th>
					
					

				</tr>
				<tr th:each="tapahtuma : ${tilitapahtumat}">
					<td th:text="${tapahtuma.id}"></td>
					<td th:text="${tapahtuma.tapahtuma}"></td>
				</tr>
			</tbody>
		</table>

</body>
</html>