<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Maksu</title>
<meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
</head>

<body>

      <form th:action="@{/maksu}" th:object="${uusimaksu}" method="POST">
      
       <div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="tilinrot">Tililtä</label>
			 <select id="tilinrot" th:field="*{tililta}" class="form-control">
       			<option th:each="tili: ${tilinrot}" th:value="${tili.tilinro}" th:text="${tili.tilinro}"></option>
    		</select>
  		 <div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="tilinrot">Tilille</label>
			 <select id="tilinrot" th:field="*{tilille}" class="form-control">
       			<option th:each="tili: ${tilinrot}" th:value="${tili.tilinro}" th:text="${tili.tilinro}"></option>
    		</select>
  <br> <br>
  			<label for="maara">Määrä:</label>	
             <input type="text" th:field="*{maara}" />
           
            <input type="submit" value="Send"/>
               
             
      </form>

</body>

</html>