<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Maksu</title>
<meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
</head>

<body>

      <form th:action="@{/maksu}" th:object="${uusimaksu}" method="POST">
         <table>
           <tr>
              <td>Tililtä</td>
              <td><input type="text" th:field="*{tililta}"/></td>
           </tr>
           <tr>
              <td>Tilille</td>
              <td><input type="text" th:field="*{tilille}"/></td>
           </tr>
            <tr>
              <td>Määrä</td>
              <td><input type="text" th:field="*{maara}" /></td>
           </tr>           
           <tr>
              <td>&nbsp;</td>
              
             <td> <div style="clear: both; display: block; height: 10px;"></div>						
		  	
			 <select id="tilinrot" class="form-control">
       			<option th:each="tili: ${tilit}" th:value="${tili.tilinro}" th:text="${tili.tilinro}"></option>
    		</select> </td>
              <td><input type="submit" value="Send"/></td>
           </tr>       
         </table>      
      </form>

</body>

</html>