<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Maksu</title>
<meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
</head>

<body>

      <form th:action="@{/maksu}" th:object="${uusimaksu}" method="POST">
         <table>
           <tr>
              <td>Tililtä</td>
              <td><select id="tilinrot" class="form-control" th:field="*{tililta}">
       			<option th:value="FIA123456" > FIA123456</option>
       			<option th:value="FIB123456" > FIB123456</option>
       			<option th:value="FIC123456" > FIC123456</option>
    		</select> </td>
           </tr>
           <tr>
              <td>Tilille</td>
               <td><select id="tilinrot" class="form-control" th:field="*{tilille}">
       			<option th:value="FIA123456" > FIA123456</option>
       			<option th:value="FIB123456" > FIB123456</option>
       			<option th:value="FIC123456" > FIC123456</option>
    		</select> </td>
           </tr>
            <tr>
              <td>Määrä</td>
              <td><input type="text" th:field="*{maara}" /></td>
           </tr>           
           <tr>
              <td>&nbsp;</td>
              
             <td> <div style="clear: both; display: block; height: 10px;"></div>						
		  	
			 
              <td><input type="submit" value="Send"/></td>
           </tr>       
         </table>      
      </form>

</body>

</html>